* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 100%;
  height: 100vh;
}

#top-banner {
  width: 100%;
  height: 19px;
  background-color: #ffffff;
}

#top-banner h5 {
  color: #000000;
  font-family: "Poppins";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: center;
}

#top-banner img {
  position: absolute;
  left: 93.75%;
  top: 0.15%;
}

#background-img {
  background-image: url(./../img/9193579.png);
  background-color: #f7ddc6;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 63.86vh;
}

header {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2) 100%);
}

#upper-header {
  position: relative;
  width: 100%;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

#logo {
  position: relative;
  font-family: "Poppins";
  color: #fff;
  font-size: 2.2em;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 52%;
  position: relative;
  color: #fff;
}

.search-box input {
  width: 100%;
  padding: 15px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 3px;
  font-size: 0.7em;
  outline: none;
}

.search-box ::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-icon,
.basket-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #fff;
  font-size: 25px;
}

.sign-in {
  position: relative;
  width: 15%;
  color: #ffffff;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
}

.sign-in a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 0.8em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
}

.navigation {
  position: relative;
  top: 0;
  width: 80%;
  margin: 0 auto;
  padding: 10px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.86em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 0.6em;
  border-radius: 4px;
  transition: 0.3s;
  transition-property: all;
}

.navigation a:not(:last-child) {
  margin-right: 1em;
}

.navigation a:hover {
  background: rgba(233, 161, 115, 0.4);
}

.navigation a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

main {
  text-align: center;
  margin-top: 9em;
}

h1 {
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 3em;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  margin-bottom: 0.3em;
}

form {
  background-color: #fff;
  max-width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

label {
  font-family: "Poppins";
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.036em;
  color: #000000;
  display: block;
  max-width: 39%;
  padding: 0;
  margin-top: 1.7em;
  margin-bottom: 1em;
  align-self: center;
}

.input_email {
  border: 1px solid #e1e0e1;
  padding: 0.45em;
  padding-right: 14em;
  color: #000;
}

.submitbtn {
  background: #000000;
  color: #fff;
  font-family: "Poppins";
  font-size: 0.7em;
  padding: 0.7em 2.5em;
  border: none;
  border-radius: 4px;
}

.submitbtn:hover {
  opacity: 72%;
}

.footer_container {
  max-width: 900px;
  margin: auto;
  margin-top: 0.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #fff;
  padding: 2em 0;
}

.footer_column {
  width: 20%;
  padding: 0 1.4em;
}

.footer_column h4 {
  position: relative;
  margin-bottom: 1em;
  font-family: "CormorantGaramond";
  font-size: 0.9em;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.1em;
  line-height: 150%;
  text-transform: capitalize;
}

.footer_column ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer_column ul li a {
  font-family: "CormorantGaramond";
  font-size: 0.9em;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.footer_column ul li a:hover {
  opacity: 50%;
  padding-left: 8px;
}

.footer_column .social-links a {
  display: inline;
  height: 3em;
  width: 3em;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 3em;
  border-radius: 50%;
  color: #333333;
  transition: all 0.5s ease;
}

.footer_column .social-links a:hover {
  color: #24262b;
  background-color: rgba(233, 161, 115, 0.4);
}

.copyright {
  font-family: "Poppins";
  font-size: 0.6em;
  font-weight: 300;
  text-align: center;
  display: block;
  padding-top: 3.2em;
  margin-bottom: 0;
}

.header-burger {
  display: none;
}

.active {
  color: white;
}

.fa-bars {
  color: #fff;
}

@media (min-width: 992px) and (max-width: 1340px) {
  #top-banner img {
    left: 92%;
  }

  .sign-in {
    width: 23%;
  }

  .navigation {
    width: 100%;
  }

  .navigation a {
    font-size: 0.7em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-height: 100vh;
  }

  #top-banner img {
    left: 89%;
  }

  .sign-in {
    width: 35%;
  }

  .navigation {
    width: 100%;
  }

  .navigation a {
    font-size: 0.7em;
  }

  h1 {
    font-size: 2.2em;
    letter-spacing: 1px;
    line-height: 2em;
  }

  label {
    max-width: 57%;
  }

  .footer_container,
  .footer,
  .row {
    justify-content: space-evenly;
    text-align: center;
  }

  .footer_column ul li a {
    font-size: 0.9em;
    line-height: 80%;
  }
}

@media (max-width: 767px) {
  #upper-header {
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .search-box {
    width: 95%;
  }

  #background-img {
    background-position: 60% 0%;
  }

  form,
  label {
    max-width: 98%;
  }

  .input_email {
    padding: 0.45em;
    padding-right: 6.3em;
  }

  .submitbtn {
    padding: 0.7em 1.5em;
  }

  #top-banner,
  .sign-in-text,
  .search-input,
  h1,
  .navigation,
  .search-icon {
    display: none;
  }

  .footer_container,
  .footer,
  .row {
    justify-content: space-evenly;
    text-align: center;
  }

  .footer_column {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  #logo {
    font-size: 2em;
    font-weight: 400;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .navigation {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navigation.active {
    left: 0;
  }

  .navigation a {
    margin: 2.5rem 0;
  }

  .header-burger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 574px) {
  .footer_column {
    width: 100%;
  }
}
