@mixin background($backgroundImg) {
  background: {
    image: url(#{$backgroundImg});
    color: $color;
    size: $size;
    position: $position;
    repeat: $repeat;
  }
}

@mixin button() {
  background: $blackBackground;
  color: $whiteText;
  font-family: $font-family1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family1;
}

.container {
  max-width: 100%;
  height: 100vh;
}

#top-banner {
  width: 100%;
  height: 19px;
  background-color: $whiteBackground;

  h5 {
    color: $blackText;
    font-family: $font-family1;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-align: center;
  }

  img {
    position: absolute;
    left: 93.75%;
    top: 0.15%;
  }
}

#background-img {
  @include background($backgroundImg);
  max-width: 100%;
  min-height: 63.86vh;
}

header {
  background: $header;
}

#upper-header {
  position: relative;
  width: 100%;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

#logo {
  position: relative;
  font-family: $font-family1;
  color: $logoColor;
  font-size: 2.2em;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 52%;
  position: relative;
  color: $inputSearchIcon;

  input {
    width: 100%;
    padding: 15px;
    padding-right: 60px;
    box-sizing: border-box;
    background: $inputBackground;
    border: none;
    border-radius: 3px;
    font-size: 0.7em;
    outline: none;
  }

  ::placeholder {
    color: $inputColor;
    opacity: 1;
  }
}

.search-icon,
.basket-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: $inputSearchIcon;
  font-size: 25px;
}

.sign-in {
  position: relative;
  width: 15%;
  color: $signIn;
  align-items: center;
  align-self: center;
  justify-content: flex-end;

  a {
    color: $signIn;
    text-decoration: none;
    font-family: $font-family1;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.navigation {
  position: relative;
  top: 0;
  width: 80%;
  margin: 0 auto;
  padding: 10px 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: $navColor;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.86em;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 0.6em;
    border-radius: 4px;
    transition: 0.3s;
    transition-property: all;

    &:not(:last-child) {
      margin-right: 1em;
    }

    &:hover {
      background: $sandBackground;
    }

    &.icon {
      background: $whiteBackground;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

main {
  text-align: center;
  margin-top: 9em;
}

h1 {
  color: $whiteText;
  font-family: $font-family1;
  font-style: normal;
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 3em;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  margin-bottom: 0.3em;
}

form {
  background-color: $whiteBackground;
  max-width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

label {
  font-family: $font-family1;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.036em;
  color: $blackText;
  display: block;
  max-width: 39%;
  padding: 0;
  margin-top: 1.7em;
  margin-bottom: 1em;
  align-self: center;
}

.input_email {
  border: 1px solid $greyBorder;
  padding: 0.45em;
  padding-right: 14em;
  color: $blackText;
}

.submitbtn {
  @include button;
  font-size: 0.7em;
  padding: 0.7em 2.5em;
  border: none;
  border-radius: 4px;

  &:hover {
    opacity: 72%;
  }
}

.footer_container {
  max-width: 900px;
  margin: auto;
  margin-top: 0.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: $whiteBackground;
  padding: 2em 0;
}

.footer_column {
  width: 20%;
  padding: 0 1.4em;

  h4 {
    position: relative;
    margin-bottom: 1em;
    font-family: $font-family2;
    font-size: 0.9em;
    font-weight: 600;
    color: $blackText;
    letter-spacing: 0.1em;
    line-height: 150%;
    text-transform: capitalize;
  }

  ul li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    a {
      font-family: $font-family2;
      font-size: 0.9em;
      font-weight: 300;
      color: $blackText;
      text-decoration: none;
      display: block;
      transition: all 0.3s ease;

      &:hover {
        opacity: 50%;
        padding-left: 8px;
      }
    }
  }

  .social-links a {
    display: inline;
    height: 3em;
    width: 3em;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 3em;
    border-radius: 50%;
    color: $greyText;
    transition: all 0.5s ease;

    &:hover {
      color: $darkGreyHover;
      background-color: $sandBackground;
    }
  }
}

.copyright {
  font-family: $font-family1;
  font-size: 0.6em;
  font-weight: 300;
  text-align: center;
  display: block;
  padding-top: 3.2em;
  margin-bottom: 0;
}

.header-burger {
  display: none;
}

.active,
.fa-bars {
  color: $whiteText;
}

@media (min-width: 992px) and (max-width: 1340px) {
  #top-banner img {
    left: 92%;
  }

  .sign-in {
    width: 23%;
  }

  .navigation {
    width: 100%;

    a {
      font-size: 0.7em;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-height: 100vh;
  }

  #top-banner img {
    left: 89%;
  }

  .sign-in {
    width: 35%;
  }

  .navigation {
    width: 100%;

    a {
      font-size: 0.7em;
    }
  }

  h1 {
    font-size: 2.2em;
    letter-spacing: 1px;
    line-height: 2em;
  }

  label {
    max-width: 57%;
  }

  .footer_container,
  .footer,
  .row {
    justify-content: space-evenly;
    text-align: center;
  }

  .footer_column ul li a {
    font-size: 0.9em;
    line-height: 80%;
  }
}

@media (max-width: 767px) {
  #upper-header {
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .search-box {
    width: 95%;
  }

  #background-img {
    background-position: 60% 0%;
  }

  form,
  label {
    max-width: 98%;
  }

  .input_email {
    padding: 0.45em;
    padding-right: 6.3em;
  }

  .submitbtn {
    padding: 0.7em 1.5em;
  }

  #top-banner,
  .sign-in-text,
  .search-input,
  h1,
  .navigation,
  .search-icon {
    display: none;
  }

  .footer_container,
  .footer,
  .row {
    justify-content: space-evenly;
    text-align: center;
  }

  .footer_column {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  #logo {
    color: $whiteText;
    font-size: 2em;
    font-weight: 400;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .navigation {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: $whiteBackground;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: $boxShadow;

    &.active {
      left: 0;
    }

    a {
      margin: 2.5rem 0;
    }
  }

  .header-burger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 574px) {
  .footer_column {
    width: 100%;
  }
}
