$backgroundImg: "./../img/9193579.png";
$color: #f7ddc6;
$size: cover;
$position: center top;
$repeat: no-repeat;

$font-family1: "Poppins", sans-serif;
$font-family2: "CormorantGaramond";

$logoColor: #ffffff;
$navColor: #ffffff;
$inputColor: #ffffff;
$inputSearchIcon: #ffffff;
$inputBackground: #ffffff4d;
$signIn: #ffffff;
$header: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2) 100%);
$whiteBackground: #ffffff;
$whiteText: #ffffff;
$blackBackground: #000000;
$blackText: #000000;
$greyText: #333333;
$greyBackground: rgba(255, 255, 255, 0.3);
$sandBackground: rgba(233, 161, 115, 0.4);
$greyBorder: #e1e0e1;
$darkGreyHover: #24262b;
$boxShadow: 0 10px 27px rgba(0, 0, 0, 0.05);
